@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, #0341fc,#c0afeb);
    background-position: center;
    z-index: -1;
}

html,
body {
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
}